.vscode
*.egg-info
data
*.zip
checkpoints/**/*.pth
__pycache__
work_dirs/*
*.pth

# Include best checkpoints (we only want to push the best ones, as they're >1GB each)
!results/night_base_25k/best_mIoU_iter_22000.pth